secrets
.DS_Store
**/__pycache__/
**/target/

.tmp*
**/zed/prompts
**/zed/conversations
**/zed/embeddings
xdg-configs/fish/fish_variables
xdg-configs/tmux/plugins/
.claude/settings.local.json
bin/.claude/settings.local.json
