secrets
.DS_Store
.dropbox
home/bin/bosh
home/bin/credhub
home/bin/fly
home/bin/ssoca
gnupg/.gnupg/crls.d/
gnupg/.gnupg/private-keys-v1.d/
gnupg/.gnupg/pubring.kbx
gnupg/.gnupg/pubring.kbx~
gnupg/.gnupg/reader_0.status
gnupg/.gnupg/reader_1.status
gnupg/.gnupg/sshcontrol
gnupg/.gnupg/tofu.db
gnupg/.gnupg/trustdb.gpg
ssh/.ssh/*_rsa*
ssh/.ssh/*_ecdsa*
ssh/.ssh/authorized_keys
ssh/.ssh/known_hosts.old
ssh/.ssh/known_hosts
bin/__pycache__/

.tmp*
**/zed/prompts
**/zed/conversations
**/zed/embeddings
xdg-configs/kitty/logs/
