#!/bin/bash

[[ -f ~/.Xresources ]] && xrdb -merge -I"$HOME" ~/.Xresources

autorandr -c --force --detected

export QT_STYLE_OVERRIDE=gtk+

wal -R || wal -i ~/.wallpapers --backend colorz

export PATH=$HOME/bin:$PATH
export BROWSER=firefox
export TERMINAL=alacritty

setxkbmap -rules evdev -model evdev -layout us -variant altgr-intl
