* {{
  accent:           {color14};
  background:       {background};
  background-light: {background};
  background-focus: {color2};
  foreground:       {foreground};
  foreground-list:  {foreground};
  on:               #44ad4d;
  off:              #e34039;
}}
