* {
  accent:           #da5f8a;
  background:       #422668;
  background-light: #090116;
  background-focus: #54286a;
  foreground:       #fde7e9;
  foreground-list:  #fde7e9;
  on:               #44ad4d;
  off:              #e34039;
}
